# Ignorar entornos virtuales
.venv/
.venv311/
venv/
env/

# Caches y compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de Jupyter
.ipynb_checkpoints/

# Binarios grandes
*.dll
*.so
*.whl

# Datos grandes opcionales
data/
outputs/
